
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

hr {
    margin: 0.5rem 0; 
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.footer-position {
    border-top: 1px solid #ddd;
    padding-top: 10px; 
}

.footer-section {
    margin-top: 10px; 
}