hr {
    margin: 0.5rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25
}

.footer-position {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}