
.projects {
    flex-direction: column;
}

.project-card {
    gap: 20px; 
    background-color: var(--main-color-white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-card-img img {
    width: 100%;
    border-radius: 10px;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card-content h3 {
    font-size: 1.5rem;
    color: #333;
}

.project-card-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.project-card-content a.box {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color-primary);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.project-card-content a.box:hover {
    background-color: var(--main-color-primary-dark);
}