
.projects {
    flex-direction: column;
}

.project-card {
    gap: 20px; 
    background-color: var(--main-color-white);
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
}

.project-card-img img {
    width: 100%;
    border-radius: 10px;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card-content h3 {
    font-size: 1.5rem;
    color: #333;
}

.project-card-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}



.project-card-content a.box:hover {
    background-color: var(--main-color-primary-dark);
}

.button-55 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-55:focus {
    text-decoration: none;
  }
  
  .button-55:hover {
    text-decoration: none;
  }
  
  .button-55:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-55:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-55 {
      padding: 12px 50px;
    }
  }

/* Responsive design for project cards */
@media (max-width: 768px) {
    .project-card {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }

    .project-card-content {
        order: 1; 
    }

    .project-card-img {
        order: 2;
        text-align: center; 
    }

    .project-card-img img {
        max-width: 100%; 
        height: auto;
    }

    .project-card-description {
        order: 3; 
    }
}